/*a comment on the css file*/
/*
List of Selectors to Use:
---Class Selector (.class)
ID Selector (#id)
Universal Selector (*)
---Element Selector (element)
Attribute Selector (e.g. [attribute=foo])
--- Pseudo-class Selectors (e.g. p::hover)
Grouping / Combinators
--- Selector List (element, element)
Descendant Combinator (element element)
Child Combinator (element > element)
General sibling combinator (element + element)
Adjacent sibling combinator (element ~ element)
Combining Two Selectors (element.class)*/
/* class selector */
.row{
    color: rgb(255, 204, 153);
}

/* element selector */
p{
    color: white;
}

/* pseudo class selector */
table:hover{
    color: #1861C1;
}

body{
    background-color: hsl(341.1, 31%, 66%);
}

img,form{
    border-style: solid;
    border-color: white;
    border-width: 3px;
    /* how to do rounded border */
    border-radius: 4px;
}

/* box model long */
nav {
    background-color: lightgrey;
    width: 12pc;
    height:1.5pc;
    border: 10pt solid green;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 5vmin;
    margin-bottom:5vmin;
    margin-left:5vmin;
    margin-right:5vmin;
  }
