/*a comment on the css file*/
/*
List of Selectors to Use:
---Class Selector (.class)
--- ID Selector (#id)
--- Universal Selector (*)
--- Element Selector (element)
--- Attribute Selector (e.g. [attribute=foo])
--- Pseudo-class Selectors (e.g. p::hover)
Grouping / Combinators
--- Selector List (element, element)
--- Descendant Combinator (element element)
--- Child Combinator (element > element)
General sibling combinator (element + element)
Adjacent sibling combinator (element ~ element)
--- Combining Two Selectors (element.class)*/

/* add Oswald font */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

/* need to put in one more relative unit */

*{
    font-family:'Oswald', sans-serif;
}

/* class selector */
.row{
    color: rgb(255, 204, 153);
}

/* element selector */
p{
    text-color: white;
    /* third use of relative unit */
    max-width:70%;
    min-width:30%;
}
/* combining two selectors */
p.dis1{
    display: block;
}
p.dis2{
    display: none;
}
/* pseudo class selector */
table:hover{
    color: #1861C1;
}
/* pseudo class selector */
button:active{
    color:pink;
}

body{
    background-color: hsl(341.1, 31%, 66%);
}

img,form{
    border-style: solid;
    border-color: white;
    border-width: 3px;
    /* how to do rounded border */
    border-radius: 4px;
}

/* box model long */
nav {
    background-color: lightgrey;
    width: 12pc;
    height:1.5pc;
    border: 10pt solid green;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 5vmin;
    margin-bottom:5vmin;
    margin-left:5vmin;
    margin-right:5vmin;
  }

/* descendant combinator */
div li{
    background-color:darkred;
}
/* child combinator */
div > h3,h4,h5{
    text-decoration:underline;
    text-decoration-color:black;
    text-align: justify;
}

/* by id */
#iframeboi{
    position: relative;
    left:50px;
}

/* by attribute */
p[id]{
    position: static;
    left: 200px;
}

.container{
    display:flex;
    align-items:stretch;
    align-content:justify;
}

.item{
    order: 5;
    flex-grow: 4;
    flex-shrink: 3;
    align-self: auto;

}