/*a comment on the css file*/
/*
List of Selectors to Use:
Class Selector (.class) added
ID Selector (#id)
Universal Selector (*)
Element Selector (element) added
Attribute Selector (e.g. [attribute=foo])
Pseudo-class Selectors (e.g. p::hover) added
Grouping / Combinators
Selector List (element, element)
Descendant Combinator (element element)
Child Combinator (element > element)
General sibling combinator (element + element)
Adjacent sibling combinator (element ~ element)
Combining Two Selectors (element.class)*/
/* class selector */
.row{
    color: rgb(255, 204, 153);
}

/* element selector */
p{
    color: white;
}

/* pseudo class selector */
table:hover{
    color: #1861C1;
}

body{
    background-color: hsl(341.1, 31%, 66%);
}